[defaults]
inventory = sites/dc1/inventory.yml
collections_path = .ansible/collections
local_tmp = .ansible/tmp
remote_tmp = .ansible/tmp
duplicate_dict_key = error
vars_plugins_enabled = arista.avd.global_vars, host_group_vars

[vars_global_vars]
paths = ../../global_vars
